
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.card-title {
    text-shadow: 1px 1px rgb(37, 35, 35);
}

#cardContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}